header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), 
    url("../src/header-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

#header-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    z-index: 2;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

.logo{
    display: flex;
    align-items: center;
    padding: 5px;
}

.logo img{
    width: 45px;
    height: auto;
}

.logo p{
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}


.menu-central{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding: 3px;
}

#menu-links{
    display: flex;
    font-size: 14px;
    align-items: center;
}



#menu-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px
    ;
}

#menu-links a:hover{
    font-weight: 700;
    color: #FFB6C1;
    transition: 0.2s;
    font-size: 16px;
}


.redes{
    display: flex;
    align-items: center;
    gap: 20px;

}

.central{
    position:absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.central-info{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    max-width: 800px;

}

.central-info h1{
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 64px;
}

.central-info p{
    font-weight: 200;
    font-style: italic;
}

.central-info span{
    font-weight: 600;
    color: #FFB6C1;
}

.central-info button{
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 25px;
    background-color: #fff;
    color: #e27485;
    font-weight: bold;
    cursor: pointer;
}


.central-info button:hover{
    border-radius: 20px;
    background-color: #e27485;
    color: #fff;
    transition: 0.4s;
}