#tecnicas {
    background-color: #c7a8be;
    position: relative;
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 5rem;
}

.texto-vertical-tecnicas {
    position: absolute;
    left: 10px;
    top: 60%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: left top;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    padding: 0.3rem 0.5rem;
    text-shadow: 1px 1px 1px 4px black;
    z-index: 1;
}

.decorativo {
    font-size: 36px;
    margin-bottom: 40px;
    color: white;
    opacity: 0.8;
    align-items: center;
    text-align: center;
  }


.conteudo-sobre-tecnicas {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 1.5rem;
    border-radius: 8px;
    z-index: 0;
}

.linha-tecnica {
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.linha-tecnica h3 {
    flex: 1 1 200px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-align: right;
    margin: 0;
    font-style: italic;
}

.linha-divisoria {
    width: 40px;
    height: 2px;
    background-color: white;
    margin-top: 0.8rem;
}

.linha-tecnica p {
    flex: 3 1 500px;
    color: white;
    font-size: 14px;
    margin: 0;
    line-height: 1.6;
}
